* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  color: white;
  background-color: #000;
  overflow-x: hidden;
}
/* LOADER SCREEN */
.loader-screen {
  position: fixed;
  inset: 0;
  background: linear-gradient(120deg, #020617, #0f172a, #020024, #020617);
  background-size: 300% 300%;
  animation: bgMove 6s ease infinite, hideLoader 2s forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  z-index: 9999;
}

@keyframes bgMove {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid rgba(56,189,248,0.2);
  border-top: 6px solid #38bdf8;
  border-radius: 50%;
  animation: spin 1s linear infinite, pulse 1.5s ease-in-out infinite;
  box-shadow: 0 0 20px rgba(56,189,248,0.6);
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

@keyframes pulse {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.loader-screen p {
  opacity: 0;
  animation: fadeText 1.5s ease-in-out infinite;
}

@keyframes fadeText {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

/* After 3s, hide loader */
@keyframes hideLoader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* MAIN CONTENT */
.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}
/* PAGE BACKGROUND */
.page {
  min-height: 100vh;
  background-image: url(./images/base.png);
  background-size: cover;
  background-position: center;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
}
.logo{
  justify-self: start
}
.logo img {
  width: 140px;
}

.right {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 30px;
}

.nav {
  display: flex;
  gap: 16px;
}

.nav p {
  cursor: pointer;
  opacity: 0.85;
}

.nav p:hover {
  opacity: 1;
  text-decoration: underline;
}

/* CTA BUTTONS */
.cta {
  display: flex;
  gap: 12px;
}

.cta button {
  padding: 8px 16px;
  border-radius: 999px;
  border: 1px solid gray;
  cursor: pointer;
  
}
.btn1 {
  opacity: 0.8;
  transition: 0.3s ease;
}

.btn1:hover {
  opacity: 1.4;
  transform: scale(1.05);
  color: cadetblue;
}
.btn2 {
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 12px 28px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn2:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.4);
}


/* HERO */
.hero {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  padding: 40px 20px;
}

.hero-badge {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.badge {
  background: green;
  padding: 2px 10px;
  border-radius: 999px;
  font-size: 12px;
}

.hero h1 {
  font-size: 48px;
  line-height: 1.2;
}

.hero-subtext {
  opacity: 0.8;
  max-width: 600px;
}

/* HERO INPUT */
.hero-cta {
  display: flex;
  gap: 8px;
  padding: 6px;
  border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
}

.hero-cta input {
  background: transparent;
  border: none;
  padding: 10px;
  color: white;
  outline: none;
}

.hero-cta input::placeholder {
  color: #efefef;
}


.stn{
   background: rgba(255, 255, 255, 0.85);   /* thoda transparent white */
  color: #000;
  border: none;
  padding: 10px 26px;
  border-radius: 999px;   /* pill shape */
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  backdrop-filter: blur(6px);   /* glass effect */
  transition: all 0.2s ease
}

.stn:hover{
  background: rgba(255, 255, 255, 1);  /* hover par thoda solid */
  transform: translateY(-2.5px);         /* slight lift */
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* DASHBOARD SECTION */
.section1 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.section1 img {
  width: 80%;
  max-width: 1200px;
}

/* TRUSTED COMPANIES logo */
.logo2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);   
  gap: 0px 84px;                           
  align-items: center;
  justify-items: center;

  max-width: 1500px;
  margin: 0 auto;
  padding: 60px 20px;
}

.logos-grid a {
  height: 32px;         
  opacity: 0.7;
  transition: opacity 0.3s ease;
  
}


.rest-page {
  background: #fff;
}

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  padding: 30px;
  height: 250px;
  gap: 20px;
  font-size: small;
}

.section4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section4 video {
  border: 1px solid black;
  max-width: 50%;
  height: auto;
  border-radius: 12px;
}

.section5 {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.section5 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.section5 video {
  border: 1px solid black;
  max-width: 70%;
  height: auto;
  border-radius: 12px;
}

.main2 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section6 {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-size: small;
  gap: 60px;
}

.s6div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  padding: 5px;
}

.section6 button {
  background: #000;
  padding: 5px;
  border-radius: 999px;
  align-self: flex-end;
  color: white;
}

.section7 {
  margin: 40px;
}

.section8 {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: small;
  gap: 15px;
  text-align: center;
}

.section8 video {
  align-self: flex-end;
  width: 80%;
  height: auto;
}

.section9 {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  gap: 20px;
}

.S9d1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.S9d2 {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.S9d2 .btn {
   border-radius: 999px;
   padding: 10px;
}

.S9d2 .btn1 {
  background: #000;
  color: white;
 
}



.section10 {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: small;
  gap: 15px;
  text-align: center;
}
.section11{
  background-color: #fff;
}
.section11 .babu{
              background-color: #fff;
              color: #000;
}